@page
@model BreakfastBuffet.Pages.AddReservationModel
@{
}

<h2>Add Reservation</h2>

<form method="post">

    <div class="form-group">
        <label asp-for="Input.Date"></label>
        <input class="form-control" type="date" value="@DateTime.Now" asp-for="Input.Date" />
        <span asp-validation-for="Input.Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Adults"></label>
        <input class="form-control" type="number" asp-for="Input.Adults" value="1" min="1" />
        <span asp-validation-for="Input.Adults" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Children"></label>
        <input class="form-control" type="number" asp-for="Input.Children" min="0"/>
        <span asp-validation-for="Input.Children" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>