@page
@model BreakfastBuffet.Pages.AddReservationModel
@{
}

<h2>Add Reservation</h2>

<form method="post">

    <div class="form-group">
        <label asp-for="Input.Date"></label>
        <input class="form-control" type="date" value="@DateTime.Now" asp-for="Input.Date" />
        <span asp-validation-for="Input.Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Adults"></label>
        <!-- <input class="form-control" type="number" asp-for="Input.Adults" /> -->
        <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <span asp-validation-for="Input.Adults" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Children"></label>
        <!-- <input class="form-control" type="number" asp-for="Input.Children" /> -->
        <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <span asp-validation-for="Input.Children" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>