@page
@model BreakfastBuffet.Pages.BreakfastOverviewModel
@{
}

<h2>Breakfast Overview</h2>

<table>
    <thead>
        <tr>
            <th>
                Room Number &nbsp;&nbsp;
            </th>
            <th>
                Adults &nbsp;&nbsp;
            </th>
            <th>
                Children
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach(var reservation in Model.CheckInOverviewList)
{
    <tr>
            <td>
                @Html.DisplayFor(modelCheckInOverviewList => reservation.RoomNr)
            </td>
            <td>
                @Html.DisplayFor(modelCheckInOverviewList => reservation.NrAdults)
            </td>
            <td>
                @Html.DisplayFor(modelCheckInOverviewList => reservation.NrChildren)
            </td>
        </tr>
}
        
    </tbody>
</table>