@page
@model BreakfastBuffet.Pages.BreakfastOverviewModel
@{
}

<h2>Breakfast Overview</h2>

@foreach(var reservation in Model.CheckInOverviewList)
{
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.CheckInOverviewList[0].RoomNr)
                </th>
            </tr>
        </thead>
    </table>
}